@import url(variables.css);

/**Products--
---------------**/
main {
    width: 100%;
    max-width: 250px;
    margin: 20px auto;
    text-align: center;
}

.product_content {
    background-color: var(--color_secondary);
    border-radius: 5px;
    border: var(--border);
    margin-bottom: 25px;
}

main p {
    color: #FFF;
    margin: 0 auto;
    padding: 5px;
    font-size: 1.2em;
    font-family: var(--font_rock)
}

.scroll-top {
    color: white;
    background: none;
    border: none;
    font-size: 2em;
    text-decoration: none;
    padding: 5px;
}




/**Product Specific--
----------------------------**/


.product_image_specific {
    margin: auto;
    margin-top: 20px;
}

.product_specific p {
    text-align: left;
}

.product_content .cta {
    margin-top: 25px;
    border-radius: 0px;
}



@media screen and (min-width: 1024px) {

/** Products --
----------------->**/

main {
    width: 100%;
    max-width: 1000px;
}

h2 {
    font-size: 2em;
    text-align: center;
}


.content-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
    max-width: 1000px;
    min-width: 0;
    margin: auto;
    margin-top: 130px;
    gap: 50px;
}

.product_content {
    max-width: 300px;
}

main p {
    font-size: 1.5em; 
}



.scroll-top {
    grid-column: 2;
}

/**Product Specific--
----------------------------**/

.product_specific {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: 45px 180px 60px;
    width: 100%;
    max-width: 1000px;
    margin: 100px auto;
}

.product_image_specific {
    max-width: 350px;
    margin: 0 auto;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 4;
}

.product_specific h1 {
    margin-top: 0px;
    grid-column-start: 2;
    grid-row-start: 1;
}

.product_specific h2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

}

.product_specific_info {
    margin-left: 10px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.cost {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.product_specific .cta {
    width: 300px;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
}


}