@import url(variables.css);

/**Products--
---------------**/
main {
    width: 100%;
    max-width: 250px;
    margin: 20px auto;
    text-align: center;
}

.product_content {
    background-color: var(--color_secondary);
    border-radius: 5px;
    border: var(--border);
    margin-bottom: 25px;
}

main p {
    color: #FFF;
    margin: 0 auto;
    padding: 5px;
    font-size: 1.2em;
    font-family: var(--font_rock)
}

.scroll-top {
    color: white;
    background: none;
    border: none;
    font-size: 2em;
    text-decoration: none;
    padding: 5px;
}




/**Product Specific--
----------------------------**/


.product_content_specific {
    margin: auto;
    margin-top: 20px;
}

.product_specific p {
    text-align: left;
}

.product_content .cta {
    margin-top: 25px;
    border-radius: 0px;
}

.product_specific {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    margin: 50px auto;
}

.product_content_specific {
    max-width: 350px;
    margin: 0 auto;

}

.product_cta_container {
    display: flex;
    margin: 0 auto;
    max-width: 500px;
}

.product_cta_container .cta {
    width: 300px;
    margin: 10px;
}

.product_specific_info {
    max-width: 500px;
}

.back-btn {
    text-decoration: none;
    color: white;
    font-family: var(--font_fut);
    text-transform: uppercase;
    font-size: 1.5em;
}


@media screen and (min-width: 1024px) {

/** Products --
----------------->**/

main {
    width: 100%;
    max-width: 1000px;
}

h2 {
    font-size: 2em;
    text-align: center;
}

.content-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
    max-width: 1000px;
    min-width: 0;
    margin: auto;
    margin-top: 130px;
    gap: 50px;
}

.product_content {
    max-width: 300px;
}

main p {
    font-size: 1.5em; 
}

.scroll-top {
    grid-column: 2;
}

/**Product Specific--
----------------------------**/

.product_specific img {
    max-width: 300px;
    margin: 0 auto;
}

.product_specific_info {
    font-size: 1em;
}



}