@font-face {
    font-family: 'Rockwell';
    src: url(../fonts/ROCK.TTF) format('truetype');
}

/** Global
------------------->**/

* {
    margin: 0;
    padding: 0;

}



body {
    background-color: #113A8C;
    margin: 0%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    
}

label:hover {
    cursor: pointer;
}

a:hover {
    color: #1bf23c;
}

.active {
    color: #1bf23c;
}
/** Home 
---------------->**/

/**Header**/


#header-inner {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color:#163a5a ;
    padding-bottom: 10px;
   
} 

.hamburger-menu, .cart-icon, .footer-icon, .profile-icon {
    color: #1bf23c;
    font: normal normal normal 35px/1 FontAwesome;
    padding: 10px 10px;
    
}

.logo {
    width: 100%;
    max-width: 150px;
    padding: 25px; 
}

.cart h3 {
    padding-bottom: 50px;
}

.cart, #cart-checkbox, nav, #menu-checkbox   {
    display: none;   
}

.profile-icon {
    display: none;
}

  
#cart-checkbox:checked ~ .cart, #menu-checkbox:checked ~ nav {
    display: block;
}

nav {
    position: absolute;
    background-color: #163a5a;
    margin-top: 50px;
    border: 0.5px solid #1bf23c;
    padding: 25px 10px;
    align-items: center;

}

nav a {
    padding: 10px;
    display: block;
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
}

.cart {
    position: absolute;
    background-color: #163a5a;
    margin-top: 50px;
    right: 0;
    border: 0.5px solid #1bf23c;
    color: #1bf23c;
}

.hamburger-menu {
    grid-column-start: 1;
    grid-row-start: 1;
    justify-self: start;
}

#grid-logo {
    grid-column-start: 1;
    grid-row-start: 1;
    justify-self: center;
}

.searchbar {
    min-width: 293px;
    min-height: 30px;
    border-radius: 30px;
    border: 5px solid #1bf23c;
    margin: 0 auto;
    grid-column-start: 1;
    grid-row-start: 2;
    justify-self: center;
}

.cart-icon {
    grid-column-start: 1;
    grid-row-start: 1;
    justify-self: end;
}



/**Main**/

.home__content section {
    display: flex;
    background-color: #163a5a;
    color: #FFF;
    text-align: left;
}

.home_three {
    display: none !important;
}

.home__content h2 {
    margin-left: 10px;
    font-family: Futura-pt;
    font-weight: bold;
    font-size: 4vw;
}

.home__content div p {
    margin-left: 10px;
    padding-top: 20px;
    font-size: 4vw;
    font-family: rockwell;
    font-weight: normal;
}


.home__content section > * {
    flex: 1;
}
       

.home__image_one-large, 
 .home__image_two-large {
    display: none;
}


.home__image_one, .home__image_two  {
    display: block;
    width: 100%;
}



/**Footer**/
footer {
    text-align: center;
    color: #1bf23c;
    font-weight: bold;
    margin-bottom: 10px;
}


@media screen and (min-width: 1024px) {
    /**Header**/
header {
    background-color: #163a5a;
    padding-left: 395px;
}

#header-inner{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    border-bottom: 1px solid #1bf23c;
    width: 100%;
    max-width: 1920px;
    padding-bottom: 0px;
    align-items: center;
}

.hamburger-menu {
    display: none !important;
}

.logo {
    position: absolute;
    width: 100%;
    max-width: 370px;
    top: 10px;
    left: 25px;
    padding: 5px;
     
}

#grid-search {
    order: 2;
} 

#grid-nav {
    order: 3;    
}

.profile-icon {
    display: block;
    position: absolute;
    right : 100px;
    top: 68px;
}

.cart-icon {
    position: absolute;
    right : 25px;
    top: 68px;
}


.searchbar {
    width: 100%;
    max-width: 400px;
    height: 40px;
    margin: 60px 0 0 10px;
    border-radius: 50px;
}

nav {
    position: relative;
    display: inline-block;
    margin-top: 57px;
    border: none;
    font-size: 1.5vw;
    padding: none;
    background:none;
    padding-right: 110px;
}

nav a {
    display: inline;
    color: #1bf23c;
    font-weight: bold;
    text-decoration: none;
    color: #FFF;
    padding: 0px 50px 0 ;
}

#nav-account, .cart, #cart-checkbox  {
    display: none;
}
      
#cart-checkbox:checked ~ .cart, .profile-icon {
    display: block;
}

.cart {
    position: absolute;
    background-color: #163a5a;
    margin-top: 247px;
    right: 0;
    border: 0.5px solid #1bf23c;
    color: #1bf23c;
}

    /**Main**/

.home__content {
    width: 90%;
    max-width: 1500px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: auto;
    margin-top: 130px;   
}

.home__content section {
    background-color: #163a5a;
    color: #FFF;
    text-align: left;
    border: 1px solid #1bf23c;    
}

.home_content-left {
    max-width: 100%;
    background-color: #163a5a;
    border: 1px solid #1bf23c;
}

.home_content-right {
    max-width: 500px;
    margin-left: 25px !important;
}

.home_one {
    display: flex;
    flex-direction: column;
}

.home_two, .home_three {
    display: flex;
    width: 100%;
    max-width: 532px;
    flex-direction: column;
}

.home__content h2 {
    font-size: 2em;
    padding: 5px;
}

.home__content div p {
    font-size: 1.4em;
    padding: 5px;
}

.home__image_one, .home__image_two {
    display: none;

}

.home__image_one-large, .home__image_two-large {
    display: block;
}

.home__image_one-large, .home_one {
    width: 100%;
    max-width: 996px;
    height: 100%;
    order: 1;
    border: 1px solid #1bf23c;
}   

.home__image_two-large {
    width: 100%;
    max-width: 532px;
    height: 100%;
    max-height: 224px;
    object-fit: cover;
    order: 1;
    border: var(--border);
}

.home__image_three {
    width: 100%;
}


.home_two_image, .home_one_image {
    order: 1;
}
.home_two_info, .home_one_info {
    order: 2;
}
.home_three {
    display: block !important;
    margin-top: 29px;
}


/** Footer **/
footer {
    display: flex;
    justify-content: space-between;
    color: #1bf23c;
    align-items: center;
    padding: 0 25px;
}

footer div {
    order: 2;
}

}

