@font-face {
    font-family: 'Futura';
    src: url();
}
/** Global
------------------->**/

* {

    margin: 0;
    padding: 0;

}



body {
    background-color: #113A8C;
    margin: 0%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    
}

label:hover {
    cursor: pointer;
}

a:hover {
    color: #1bf23c;
}

/**Header**/

header {
    background-color: #163a5a;
    position: relative;
    color: #1bf23c;

}


#header-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
} 

.hamburger-menu, .cart-icon {
    color: #1bf23c;
    font: normal normal normal 35px/1 FontAwesome;
    padding: 10px 10px;
    
}

.logo {
    max-width: 150px;
    padding-top: 10px;  
 
}

.cart, #cart-checkbox  {
    display:none;
  
    
}

  
#cart-checkbox:checked ~ .cart, #menu-checkbox:checked ~ nav {
    display: block;
}

nav, #menu-checkbox {
    display: none;
}

nav {
    position: absolute;
    background-color: #163a5a;
    margin-top: 38%;
    border: 0.5px solid #1bf23c;
    padding: 25px 10px;

}

nav a {
    padding: 10px;
    display: block;
    color: #1bf23c;
    font-weight: bold;
    text-decoration: none;
}

.cart {
    position: absolute;
    background-color: #163a5a;
    margin-top: 50px;
    margin-left: 250px;
    border: 0.5px solid #1bf23c;
}
.searchbar {
    min-width: 293px;
    height: 30px;
    margin: 10px 30px;
    border-radius: 30px;
    border: 5px solid #1bf23c;
    margin: 0 auto;
    order: 4;
}

/**Main**/

.home__content {
    display: grid;
    grid-template-rows: repeat (2fr);
}

.home__content section {
    display: flex;
    background-color: #163a5a;
    font-size: 0.8em;
    color: #FFF;
    text-align: left;
}

.home__content div p {
    margin: 10px;
}

.home__content section > * {
    flex: 1;
}
       

.home__image_one-large, .home__image_two-large {
    display: none;
}

.home_three {
    display: none !important;
}
.home__image_one, .home__image_two  {
    display: block;
    width: 100%;
}



/**Footer**/
footer {
    text-align: left;
    color: #1bf23c;
}


@media screen and (min-width: 600px) {
    /**Header**/
header {
    padding-left: 370px;
    height: 100%;
    border-bottom: 1px solid #1bf23c;
}

#header-inner{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
}

.hamburger-menu {
    display:none !important;
}

.logo {
    position:absolute;
    left: 0;
    max-width: 370px;
    padding-top: 5px;
     
}


#grid-logo {

    max-width: 370px;
}

#grid-search {
    order: 2;
} 

#grid-nav {
    order: 3;
    
}

.cart-icon {
    position: absolute;
    right : 0;
    top: 68px;
}

.searchbar {
    min-width: 470px;
    margin: 80px 0 0 0;
}

nav {
    position: relative;
    display: inline-block;
    margin-top: 57px;
    border: none;
    font-size: 28px;
    padding: none;
    background:none;

}

nav a {
    display: inline;
    color: #1bf23c;
    font-weight: bold;
    text-decoration: none;
    color: #FFF;
    padding: 0px 50px 0 ;
}

#nav-account, #nav-home {
    display: none;
}


    
.cart, #cart-checkbox  {
    display:none;
    
        
}
      
#cart-checkbox:checked ~ .cart {
    display: block;
}


    /**Main**/

.home__content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-width: 100%;
    margin: auto;
    margin-top: 130px;
    
}


.home__content section {
    background-color: #163a5a;
    font-size: 0.8em;
    color: #FFF;
    text-align: left;
    border: 1px solid #1bf23c;
    
}

.home__content div p {
    margin: 10px;
    font-size: 2em;
}

.home__image_one, .home__image_two {
    display: none;

}

.home__image_one-large, .home__image_two-large {
    display: block;
}

.home__image_one-large {
    width: 964px;
    height: 524px;
    object-fit: cover;
    order: 1;

}
.home__image_two-large {
    width: 532px;
    height: 224px;
    object-fit: cover;
    order: 1;

}
.home__image_three {
    width: 100%;
}

.home_one {
    display: flex;
    flex-direction: column;
    max-width: 964px;
    height: 720px;
}

.home_two, .home_three {
    display: flex;
    width: 532px;
    flex-direction: column;
}
.home_two_image, .home_one_image {
    order: 1;
}
.home_two_info, .home_one_info {
    order: 2;
}
.home_three {
    display: block !important;
    margin-top: 29px;
}

.home__content-left {
    max-width: 100%;
}

.home__content-right, .homethree {
    max-width: 500px;
}

}

